/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}




/* Fuente*/
@media screen and (min-width:900px){

}
                                       /* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgb(250, 2, 2) 100%);
    
}

.container-logo{
    display: grid;
    place-items: center;
}
.logo {
        width: 100px;
        height: 100px;
}
.logo:hover{
    transform: scale(120%);
}
.navbar {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 1.2rem;
}


                                         /* menu */
                                        /* nav*/
.containerNav{
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 80%;
        text-align: center;
        padding: 1em;
        background-position: top;
        border-radius: 5%;
        list-style-type: none;
}


.linkm{
    box-sizing: border-box;
    margin: 6px;
    padding: inherit;
    text-decoration:none;
    color: white;
    font-size: 1rem;
}
                                                       /* index */
.containerIndex {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 20px;
padding: 20px;
}
.abc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.impresiones {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px
}

/* Productos */
.cajasproductos{
    display: flex;
}
#productos{
    color:rgb(19, 141, 50);
    text-align: center;
    text-transform: initial;
}

.card {
    width: 300px;
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
}


                                               /* Pagina Carrito */

.carrito{
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-areas: 
    'titulo'
    'carrito'
    'precio';
    grid-template-rows: 50px auto 1fr;
    padding: 0;
    justify-items: center; */
    padding: 0 100px;
}
.contenedorProductos{
    padding: 20px 50px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        align-items: center;
        height: 550px;
}
.contenedorProducto__img{
    width: 200px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.contenedorDatos{
    color: rgb(206, 4, 4);
    list-style: none; 
}
.contenedorBotones{
    background-color: rgb(255, 0, 149);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border: 1px solid rgb(56, 103, 173);
    border-radius: 5px;
}
.contenedorPrecios{
    color: darkgreen;
}
.cr{
    text-align: center;
    padding: 1% 3%;
    position: sticky;
    top: 0%;
}
aside{
    grid-area: precio;
    width: 90%;
    margin: 10px 0;
}
aside .card{
    padding: 20px;
}
.pagar{
    background-color: rgb(0, 4, 255);
    border: 1px solid  rgb(0, 4, 255);
}
                         /* Pagina quienes somos */
.perfil{
    list-style: none;
}
.comoTrabajamos{
justify-content: center;
text-align: center;
}


                                            /*Menu*/
    
    /*Listas menu*/
    .submenu{
        width: 25%;
        position:relative;
        font-size: 14px;

    }
    /*Submenu*/
    .anidado{
        position: absolute;
        display: none;
    }
    /*Lista submenu*/
    .anidado li {
        display: flex;
        
    }
    
                                        /* cueris*/
    /* Estilos para dispositivos grandes */
@media (min-width: 992px) {
.logo {
width: 250px;
height: 250px;
}


    .logInstagram {
width: 100px;
height: 100px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    
    .col-md-6 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

  /* Estilos para dispositivos medianos */
@media (max-width: 991px) {

.logo {
width: 100px;
height: 100px;
}


.logInstagram {
width: 30px;
height: 30px;
}
}


@media (max-width: 576px) {
    /*tamaño del logo */
.logo {
width: 80px;
height: 80px;
}

    
.logInstagram {
width: 20px;
height: 20px;
}

    .title {
    font-size: 24px;
    }
}
                                            /*footer*/
.containerRedes{                                           
background-color: #000000;
height: 100px;
margin-top: 50px;
}
.containerRedes div{
    display: flex;
justify-content: space-between;
align-items: center;
}
.containerRedes strong{
    color: beige;
}
.logoInstagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
