                                                       /* index */
.mainIndex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 18rem;
}
.card img {
    width: auto;
    height: 16rem;
}
.card a{
    background-color: #ddc53f;
    color: #000000;
}
.abc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    justify-content: center;
    text-align: center;

}
.impresiones {
    justify-content: center;
    text-align: center;
}
.btnIndex{
    margin: 6rem;
    padding: 3%;
    background-color:#f5f255;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    
}