                                     /* Productos */
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 80%;
    margin: auto;
    .productos img {
        max-width: 70%;
        height: auto;
    }
    .imagen-articulo {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
        object-position: center; 
        }
    .pr{
        justify-content: center;
        text-align: center;  
    }
    .productos article {
        background-color: #f5f255;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow:  rgba(0, 0, 0, 0.2);
        padding: 20px;
        }
        .productos article ul {
            list-style: none;
            justify-content: center;
            text-align: center;
            }                                  
            .productos article img {
                display: flex;
                margin: 0 auto;
                }
}
.btnVermas{
    background-color: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    .btnVermas a{
        text-decoration: none;
        color: #000000;
    }
}