                                        /* queries*/
    /* Estilos para dispositivos grandes */
@media (min-width: 992px){
.container-logo {
    width: 20%;}
.containerNav{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.containerNav li{
    margin-left: 25px;
}
.logo {
    width: 250px;
    height: 250px;
} 
.logInstagram {
    width: 100px;
    height: 100px;
}       
.row {
    flex-direction: column;
    align-items: center;
}    
.col-md-6 {
    text-align: center;
    margin-bottom: 2rem;
    }
}

                         /* Estilos para dispositivos moviles */
@media only screen and (max-width: 767px) {
    .containerNav{
        display: flex;
        flex-direction: column;
        width: 30%;
        padding:0;
        border-radius: 5%;
    }
}


.linkm{
    margin: 2px;

}
    .container-logo {
        width: 10%;
    }
    

.containerNav li{
    margin: 0;
}
.logo {
    width: 80px;
    height: 80px;
}
.logInstagram {
    width: 20px;
    height: 20px;
}
.title {
    font-size: 24px;
}

                           /* Index */
.mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    justify-content: center;
    text-align: center;
    .impresiones {
        justify-content: center;
        text-align: center;
    }
}
.card {
    width: 8rem;
    .card img {
        width: auto;
        height: 8rem;
    }
    .btnIndex{
        margin: 1rem;
        padding: 1%;
        background-color:#f5f255;
        color: rgb(0, 0, 0);
        border: 0.5px solid rgb(0, 0, 0);
        border-radius: 0.25rem;
    }
}
                        /* productos */
.productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    max-width: 60%;
    margin: auto;
    .productos img {
        max-width: 50%;
        height: auto;
    }

                        /* quienes somos */
    .perfil {
        font-size: 16px;
    }
    .perfil li {
        padding: 10px;
    }
    /* productos */
    .productos {
        display: flex;
        flex-direction: column;
    }
    article {
        margin-bottom: 20px;
    }
    article h2 {
        font-size: 0.75rem;
    }
    article img {
        width: 100%;
    }
    article ul {
        margin-top: 5px;
    }
    article ul li {
        font-size: 0.4rem;
    }
    article ul a {
        font-size: 0.4rem;
    }
    }
    /* Pedidos*/
    .formulario {
        margin-top: 20px;
    }
    /* footer*/
    footer{                                           
        background-color: rgb(0, 8, 83);
        color: rgb(255, 252, 55);
        height: 50px;
        margin-top: 20px;
    }